.passwordCards
{
    height: 120px;
    width: 320px;
    background-color: #454f84;
    display: flex;
    border-radius: 10px;
    position: relative;
}
.profile
{
    height: 100%;
    width:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile div
{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}   
.profile div h1
{
    color:black;
}
.passwordContainer
{
    width: 100%;
    max-height: 480px;
    padding: 10px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    overflow-y: scroll;
}
.theory
{
    width:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
    padding: 20px 0px 5px 10px;
}
.hh
{
    margin: 0px;
}
.deleteIcon
{
    height: 20px;
    width: 20px;
    background-image: url("deleteicon.png");
    background-size: cover;
    position: absolute;
    top: 5px;
    right: 5px;

}
